---
import ListCardsView from '../../../components/ListCardsView.astro';
import NavHeader from '../../../components/NavHeader.astro';
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="List Games 2024 - BURST">
	<main>

		<NavHeader />

		<ListCardsView yearView="2024" />
		
	</main>
</Layout>