---
import Cardsboard from '../../components/Cardsboard.astro';
import ListCardsView from '../../components/ListCardsView.astro';
import NavHeader from '../../components/NavHeader.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="List Games 2026 - BURST">
	<main>

		<NavHeader />

		<Cardsboard yearView="2026" />

		<ListCardsView yearView="2026" />
		
	</main>
</Layout>