---
import Layout from '../../layouts/Layout.astro';
import NavHeader from '../../components/NavHeader.astro';
---
<Layout title="BURST Series - My List Yearly">
	<main>

		<NavHeader />

		<div class="max-w-screen-xl max-w-7xl mx-auto p-4 pt-8">
            Series
        </div>
</Layout>