---
import NavHeader from '../components/NavHeader.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="BURST - My List Yearly">
	<main>

		<NavHeader />

		<div class="hidden max-w-screen-xl max-w-7xl mx-auto p-4 pt-8">
			<img src="https://w.wallhaven.cc/full/vm/wallhaven-vmyvy8.jpg" 
			alt="Imagen Carousel Banner Principal HPRI" class="w-full rounded-lg h-auto md:h-[230px] object-cover object-center" />
		</div>

		<div class="max-w-screen-xl max-w-7xl mx-auto p-4 pt-8">
			<h1 class="hidden text-md lg:text-2xl font-bold text-white text-start mb-4 flex align-center items-center">
				Dashboard
			</h1>

			<div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">

				<article class="bg-gray-800 rounded-xl shadow-lg ">
					<header class="flex flex-col items-center justify-center border-t-4 border-blue-800 p-4 rounded-t-lg">
						<p class="text-7xl font-bold text-white">
							29
						</p>
						<p class="text-sm font-thin text-white pt-2">
							G A M E S
						</p>
					</header>
					<footer class="flex flex-col items-center justify-center my-3">
						<p class="text-xs font-thin font-mono text-green-500">
							+1 this Year 
						</p>
					</footer>
				</article>

				<article class="bg-gray-800 rounded-xl shadow-lg ">
					<header class="flex flex-col items-center justify-center border-t-4 border-blue-800 p-4 rounded-t-lg">
						<p class="text-7xl font-bold text-white">
							3250
						</p>
						<p class="text-sm font-thin text-white pt-2">
							H O R A S
						</p>
					</header>
					<footer class="flex flex-col items-center justify-center my-3">
						<p class="text-xs font-thin font-mono text-green-500">
							+200 this Year 
						</p>
					</footer>
				</article>

				<article class="bg-gray-800 rounded-xl shadow-lg ">
					<header class="flex flex-col items-center justify-center border-t-4 border-blue-800 p-4 rounded-t-lg">
						<p class="text-7xl font-bold text-white">
							242
						</p>
						<p class="text-sm font-thin text-white pt-2">
							L O G R O S
						</p>
					</header>
					<footer class="flex flex-col items-center justify-center my-3">
						<p class="text-xs font-thin font-mono text-green-500">
							+12 this year
						</p>
					</footer>
				</article>

				<article class="bg-gray-800 rounded-xl shadow-lg ">
					<header class="flex flex-col items-center justify-center border-t-4 border-blue-800 p-4 rounded-t-lg">
						<p class="text-7xl font-bold text-white">
							25
						</p>
						<p class="text-sm font-thin text-white pt-2">
							T E R M I N A D O S
						</p>
					</header>
					<footer class="flex flex-col items-center justify-center my-3">
						<p class="text-xs font-thin font-mono text-green-500">
							+1 this Year 
						</p>
					</footer>
				</article>

			</div>
		</div>

		<div class="hidden max-w-screen-xl max-w-7xl mx-auto p-4 pt-8">

			<h1 class="text-md lg:text-2xl font-bold text-white text-start mb-4 flex align-center items-center"> 
				<span class="ps-2">Juegos por año</span>
			</h1>

			<div class="grid gap-2 grid-cols-3 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-8">
				<a href="/Games/2025/List2025/" class="py-2.5 px-5 text-sm font-medium focus:outline-none rounded-lg border focus:z-10 focus:ring-4 focus:ring-green-700 bg-green-900 text-green-300 border-green-600 hover:text-white hover:bg-green-700">
					Lista 2025
				</a>
				<a href="/Games/2024/List2024/" class="py-2.5 px-5 text-sm font-medium focus:outline-none rounded-lg border focus:z-10 focus:ring-4 focus:ring-gray-700 bg-gray-900 text-gray-300 border-gray-600 hover:text-white hover:bg-gray-700">
					Lista 2024
				</a>
				<a href="/Games/2023/List2023/" class="py-2.5 px-5 text-sm font-medium focus:outline-none rounded-lg border focus:z-10 focus:ring-4 focus:ring-gray-700 bg-gray-900 text-gray-300 border-gray-600 hover:text-white hover:bg-gray-700">
					Lista 2023
				</a>
				<a href="/Games/2022/List2022/" class="py-2.5 px-5 text-sm font-medium focus:outline-none rounded-lg border focus:z-10 focus:ring-4 focus:ring-gray-700 bg-gray-900 text-gray-300 border-gray-600 hover:text-white hover:bg-gray-700">
					Lista 2022
				</a>
			</div>

		</div>

		<div class="hidden max-w-screen-xl max-w-7xl mx-auto p-4 pt-8">

			<h1 class="text-md lg:text-2xl font-bold text-white text-start mb-4 flex align-center items-center"> 
				<span class="ps-2">Series por año</span>
			</h1>

			<div class="grid gap-2 grid-cols-3 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-8">
				<a href="/Series/" class="py-2.5 px-5 text-sm font-medium focus:outline-none rounded-lg border focus:z-10 focus:ring-4 focus:ring-gray-700 bg-gray-900 text-gray-300 border-gray-600 hover:text-white hover:bg-gray-700">
					Lista 2025
				</a>
			</div>

		</div>

		<div class="hidden max-w-screen-xl max-w-7xl mx-auto p-4 pt-8">

			<h1 class="text-md lg:text-2xl font-bold text-white text-start mb-4 flex align-center items-center"> 
				<span class="ps-2">Movies por año</span>
			</h1>

			<div class="grid gap-2 grid-cols-3 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-8">
				<a href="/Movies/" class="py-2.5 px-5 text-sm font-medium focus:outline-none rounded-lg border focus:z-10 focus:ring-4 focus:ring-gray-700 bg-gray-900 text-gray-300 border-gray-600 hover:text-white hover:bg-gray-700">
					Lista 2025
				</a>
			</div>

		</div>

		
	</main>
</Layout>