---
import ListCardsView from '../components/ListCardsView.astro';
import NavHeader from '../components/NavHeader.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="BURST - My List Yearly">
	<main>

		<NavHeader />

		<ListCardsView yearView="2025" />
		
	</main>
</Layout>