---
import InfoCicle from "../icons/InfoCicle.astro";
import UserIcon from "../icons/UserIcon.astro";

const { movies = [] } = Astro.props;
---

{
    movies.map((item) => (
        <div class="relative mt-4">
            <!-- Badge fuera del overflow -->
            <div class="absolute -top-3 left-1/2 -translate-x-1/2 z-10 border-2 border-gray-700 bg-zinc-900 rounded-lg">
                <span class="FiraCodeFont text-xs text-white flex flex-row justify-center items-center gap-1 p-1">
                    <InfoCicle width="16" height="16" /> {item.rank}
                </span>
            </div>

            <article class="flex flex-col justify-between relative rounded-xl border-2 border-gray-700 group hover:border-green-700 overflow-hidden">
                <div class="absolute bottom-0 left-0 w-full h-7 bg-gray-900/70 z-2 hidden group-hover:flex">
                    <a href={item.movie.trailer} target="_blank">
                        <span class="FiraCodeFont text-xs text-white text-nowrap flex justify-center items-center gap-2 absolute -bottom-[-6px] -left-[-5px]">
                            <UserIcon width="16" height="16" /> {item.movie.title}
                        </span>
                    </a>
                </div>
                <img
                    src={`https://${item.movie.images?.poster?.[0] || ''}`}
                    alt={item.movie.title}
                    class="w-full h-full rounded-lg"
                />
            </article>
        </div>
    ))
}
