---
import InfoCicle from "../icons/InfoCicle.astro";
import DeviceTvOld from "../icons/DeviceTvOld.astro";
import DisneyPlus from "../icons/DisneyPlus.astro";
import Crunchyroll from "../icons/Crunchyroll.astro";
import HboMax from "../icons/HboMax.astro";
import Netflix from "../icons/Netflix.astro";

const { series = [] } = Astro.props;
---

{
    series.map((item) => (
        <div class="relative mt-4">
            <!-- Badge fuera del overflow -->
            <div class="absolute -top-3 left-1/2 -translate-x-1/2 z-10 border-2 border-gray-700 bg-zinc-900 rounded-lg">
                <span class="FiraCodeFont text-xs text-white flex flex-row justify-center items-center gap-1 p-1">
                    <InfoCicle width="16" height="16" /> {item.rank}
                </span>
            </div>

            <article class={`flex flex-col justify-between relative rounded-xl border-2 border-gray-700 group overflow-hidden ${item.statusViewed === 'ongoing' ? 'ongoing' : 'completed'}`} data-show-id={item.show?.ids?.trakt || ''}>
                {/* <div class="absolute bottom-0 left-0 w-full h-7 bg-gray-900/70 z-2 hidden group-hover:flex">
                    <a href={item.show.trailer} target="_blank">
                        <span class="FiraCodeFont text-xs text-white text-nowrap flex justify-center items-center gap-2 absolute -bottom-[-6px] -left-[-5px]">
                            <DeviceTvOld width="16" height="16" /> Ver Trailer
                        </span>
                    </a>
                </div> */}
                <img
                    src={`https://${item.season?.images?.poster?.[0] || item.show?.images?.poster?.[0] || ''}`}
                    alt={item.show?.title || ''}
                    class="w-full h-full rounded-lg"
                />

                <div class="absolute items-center justify-center h-7 w-full bottom-0 left-0 z-10 bg-zinc-900/80 border-t-1 border-zinc-950 rounded-xs hidden group-hover:flex">
                    <a href={item.show?.trailer} target="_blank">
                        <span class="FiraCodeFont text-xs text-white flex flex-row justify-center items-center gap-1 p-1">
                            {item.platformViewed === 'Disney+' && <DisneyPlus width="16" height="16" />}
                            {item.platformViewed === 'Crunchyroll' && <Crunchyroll width="16" height="16" />}
                            {item.platformViewed === 'HBO Max' && <HboMax width="16" height="16" />}
                            {item.platformViewed === 'Netflix' && <Netflix width="16" height="16" />}
                            {item.platformViewed || ''} 
                            <DeviceTvOld width="16" height="16" /> Season {item.numberSeason || ''}
                        </span>
                    </a>
                </div>

                
            </article>
        </div>
    ))
}