---
    const { cardText, cardNumber, cardNumberNew, cardClass } = Astro.props
---

<article class=`bg-gray-800 rounded-xl shadow-lg flex flex-col items-center justify-center border-t-4 border-blue-800 p-4 rounded-t-lg ${cardClass}`>
    <p class="text-4xl lg:text-7xl font-bold text-white">
        {cardNumber}
    </p>
    <p class="text-[.8rem] tracking-[.2rem] lg:text-sm font-thin text-white uppercase pt-2">
        {cardText}
    </p>
    <footer class=`flex flex-col items-center justify-center ${cardNumberNew > 0 ? 'block' : 'hidden'}`>
        <p class="text-xs font-thin font-mono text-green-500">
            +{cardNumberNew} new this Year 
        </p>
    </footer>
</article>