---
import { fade } from "astro:transitions";
import InfoCicle from "../icons/InfoCicle.astro";
import DeviceTv from "../icons/DeviceTv.astro";
import IconStar from "../icons/IconStar.astro";

const { movies = [] } = Astro.props;
---

{
    movies.map((item, index) => (
        <div class="relative mt-3">
            <!-- Badge fuera del overflow -->
            <div class="absolute -top-3 left-1/2 -translate-x-1/2 z-10 border-2 border-gray-700 bg-zinc-900 rounded-lg">
                <span class="FiraCodeFont text-xs text-white flex flex-row justify-center items-center gap-1 p-1">
                    <InfoCicle width="16" height="16" /> {index + 1}
                </span>
            </div>


            <article class="flex flex-col justify-between relative rounded-xl border-2 border-gray-700 group hover:border-sky-700 overflow-hidden">
                <div class="absolute bottom-0 left-0 w-full h-7 bg-gray-900/70 z-2 hidden group-hover:flex">
                    <a href={item.movie.trailer} target="_blank">
                        <span class="FiraCodeFont text-xs text-white text-nowrap flex justify-center items-center gap-2 absolute -bottom-[-6px] -left-[-5px]">
                            <DeviceTv width="16" height="16" /> Ver Trailer
                        </span>
                    </a>
                </div>
                <img
                    src={`https://${item.movie.images?.poster?.[0] || ''}`}
                    alt={item.movie.title}
                    class="w-full h-full rounded-lg"
                    transition:name={`movie-poster-${item.movie.ids.trakt}`}
                    transition:animate={fade({ duration: '0.3s' })}
                />
                
                {item.user_rating && (
                    <div class="absolute bottom-2 right-2 z-10 border-2 border-gray-700 bg-zinc-900 rounded-lg hidden group-hover:flex">
                        <span class="FiraCodeFont text-xs text-white flex flex-row justify-center items-center gap-1 p-1">
                            <IconStar width="16" height="16" /> {item.user_rating}
                        </span>
                    </div>
                )}
            </article>
        </div>
    ))
}
