---
import DatabaseCog from '../icons/DatabaseCog.astro'

---

<header class="flex items-center space-x-4 justify-between p-4 border-b border-gray-800 max-w-screen-xl max-w-7xl mx-auto">
    <a href="/">
        <h1 class="text-xl font-bold font-mono">BURST - My List Yearly</h1>
    </a>
    <DatabaseCog />
</header>