---
import { ClientRouter } from "astro:transitions"
import NavHeader from "../components/NavHeader.astro"
const { title } = Astro.props

// Supports weights 100-900
import '@fontsource-variable/montserrat';
// Supports weights 300-700
import '@fontsource-variable/fira-code';
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		<NavHeader />
		<slot />
	</body>
</html>

<style is:global>
	@import "tailwindcss";
	@plugin "@tailwindcss/typography";

	html {
		font-family: 'Montserrat Variable', system-ui, sans-serif;
		@apply bg-zinc-900;
		color: #fff;
	}

	body { margin: 0; padding: 0; }
	body, body::before, body::after { box-sizing: border-box; }

	.FiraCodeFont {
		font-family: 'Fira Code Variable', monospace;
	}

    .ongoing:hover {
        @apply border-green-700;
    }

    .completed:hover {
        @apply border-sky-700;
    }
</style>
